<p>list-booking works!</p>
<div class="grid">
    <div class="col-12 md:col-6">
        <div class="card">
            <div class="w-full"></div><h5>ประวัติการจอง</h5>
            <p-timeline [value]="events1">
                <ng-template pTemplate="content" let-event>
                    <small class="p-text-secondary">{{event.date}}</small>
                    <div class="card mb-4 flex align-items-center">
                       
                        <p-avatar label="BS" size="large" shape="circle" styleClass="text-base font-bold"
                        [style]="{'background-color':'rgba(101, 214, 173, 0.1)', 'color': '#27AB83', 'border': '1px solid #65D6AD'}"></p-avatar>
                      
                        <div class="ml-3">
                            <span class="block">โรงพยาบาลxxxxxxxxxxxxx</span>
                            <span class="text-color-secondary block">แพทยผู้นัด xxxxxxxx</span>
                        </div>
                    </div>
                   
                </ng-template>
                <ng-template pTemplate="opposite" let-event>
                    {{event.status}}
                </ng-template>
            </p-timeline>
        </div>
    </div>
</div>
